{% extends 'base/base.html' %}
{% load static %}

{% block content %}

{% include 'partials/_alerts.html' %}
<style>
    body {
        background-color: #008585;
    }

</style>
<div class="card mt-4 rounded">
    <div class="card-header">
        <h2>Edit Teacher Info</h2>
    </div>
    <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_teacher_forms.as_p }}
        <button type="submit" class="btn btn-primary rounded">Save</button>
        </form>
    </div>
</div>

{% endblock %}

