{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        background-color: #008585;
    }


</style>
<div class="card mt-4 rounded">
    <div class="card-header">
        <h1>{% for subject in subjects%}{{subject.subject_name}}{%endfor%} Attendance Count</h1>
    </div>
    <div class="card-body"> 
        <div class="row">
            <div class="col-md-6">
                <form action="" method="GET">
                    Subject: <input type="text" name="subject" class="form-control">
                    <input type="submit" value="Submit" class="btn btn-primary mt-4 rounded">
                </form>
            </div>
        </div>
    </div>
</div>
{% if messages %}
<div class="alert alert-warning rounded" role="alert">
    <ul class="messages">
        {% for message in messages %}
        <p class="text-center font-weight-bold">{{ message }}</p>
        {% endfor %}
    </ul>
</div>
{% else %}
<div></div>
{% endif %}
{% if student_list_sub1 %}
<!-- for 1st subject-->



<table style="background-color: white;" class="table table-responsive-sm table-bordered table-striped table-sm table-hover">
    <tr>
        <th>Name</th>
        <th>Admission ID</th>
        <th>Action</th>
    </tr>
    {% for std_list in student_list_sub1 %}
    <tr>
        <td class="cls_name">{{ std_list.name }}</td>
        <td class="cls_admission">{{ std_list.usn }}</td>
        {% if messages %}
        <td><button class="btn btn-success rounded" type="submit"
                onclick="location.href='{% url 'take_sub1_att' std_list.id %}'" disabled>Take Attendance</button>
                <a href="{% url 'extra_class_sub1' std_list.id %}">
                    <button class="btn btn-danger rounded">Extra Class</button>
                </a>
                <a href="{% url 'single_student' std_list.id %}">
                    <button type="button" class="btn btn-secondary rounded"><i class="fa fa-info-circle"> Details</i></button>
                </a>
            </td>
        {% else %}
        <td><button class="btn btn-success rounded" type="submit"
                onclick="location.href='{% url 'take_sub1_att' std_list.id %}'">Take Attendance</button>
                
                <a href="{% url 'single_student' std_list.id %}">
                    <button type="button" class="btn btn-secondary rounded"><i class="fa fa-info-circle"> Details</i></button>
                </a></td>
        {% endif %}
    </tr>

    {% endfor %}
</table>

{% endif %}

{% if student_list_sub2 %}
<!-- for 2nd subject-->
<table style="background-color: white;" class="table table-responsive-sm table-bordered table-striped table-sm table-hover ">
    <tr>
        <th>Name</th>
        <th>Admission ID</th>
        <th>Action</th>
    </tr>
    {% for std_list in student_list_sub2 %}
    <tr>
        <td class="cls_name">{{ std_list.name }}</td>
        <td class="cls_admission">{{ std_list.usn }}</td>
        {% if messages %}
        <td><button class="btn btn-success rounded" type="submit"
                onclick="location.href='{% url 'take_sub2_att' std_list.id %}'" disabled>Take Attendance</button>
                <a href="{% url 'extra_class_sub2' std_list.id %}">
                    <button class="btn btn-danger rounded">Extra Class</button>
                </a>
                <a href="{% url 'single_student' std_list.id %}">
                    <button type="button" class="btn btn-secondary rounded"><i class="fa fa-info-circle"> Details</i></button>
                </a>
            </td>
        {% else %}
        <td><button class="btn btn-success rounded" type="submit"
                onclick="location.href='{% url 'take_sub2_att' std_list.id %}'">Take Attendance</button>
                <a href="{% url 'single_student' std_list.id %}">
                    <button type="button" class="btn btn-secondary rounded"><i class="fa fa-info-circle"> Details</i></button>
                </a>
            </td>
        {% endif %}

    </tr>
    {% endfor %}
</table>
{% endif %}

{% if student_list_sub3 %}
<!-- for 3rd subject-->
<table style="background-color: white;" class="table table-responsive-sm table-bordered table-striped table-sm table-hover ">
    <tr>
        <th>Name</th>
        <th>Admission ID</th>
        
        <th>Action</th>
    </tr>
    {% for std_list in student_list_sub3 %}
    <tr>
        <td class="cls_name">{{ std_list.name }}</td>
        <td class="cls_admission">{{ std_list.usn }}</td>
        
        {% if messages %}
        <td><button class="btn btn-success rounded" type="submit"
                onclick="location.href='{% url 'take_sub3_att' std_list.id %}'" disabled>Take Attendance</button>
                <a href="{% url 'extra_class_sub3' std_list.id %}">
                    <button class="btn btn-danger rounded">Extra Class</button>
                </a>
                <a href="{% url 'single_student' std_list.id %}">
                    <button type="button" class="btn btn-secondary rounded"><i class="fa fa-info-circle"> Details</i></button>
                </a>
            </td>
        {% else %}
        <td><button class="btn btn-success rounded" type="submit"
                onclick="location.href='{% url 'take_sub3_att' std_list.id %}'">Take Attendance</button>
                <a href="{% url 'single_student' std_list.id %}">
                    <button type="button" class="btn btn-secondary rounded"><i class="fa fa-info-circle"> Details</i></button>
                </a>
            </td>
        {% endif %}

    </tr>
    {% endfor %}
</table>
{% endif %}

{% if student_list_sub4 %}
<!-- for 4th subject-->
<table style="background-color: white;" class="table table-responsive-sm table-bordered table-striped table-sm table-hover ">
    <tr>
        <th>Name</th>
        <th>Admission ID</th>
        
        <th>Action</th>
    </tr>
    {% for std_list in student_list_sub4 %}
    <tr>
        <td class="cls_name">{{ std_list.name }}</td>
        <td class="cls_admission">{{ std_list.usn }}</td>
        
        {% if messages %}
        <td><button class="btn btn-success rounded" type="submit"
                onclick="location.href='{% url 'take_sub4_att' std_list.id %}'" disabled>Take Attendance</button>
                <a href="{% url 'extra_class_sub4' std_list.id %}">
                    <button class="btn btn-danger rounded">Extra Class</button>
                </a>
                <a href="{% url 'single_student' std_list.id %}">
                    <button type="button" class="btn btn-secondary rounded"><i class="fa fa-info-circle"> Details</i></button>
                </a>
            </td>
        {% else %}
        <td><button class="btn btn-success rounded" type="submit"
                onclick="location.href='{% url 'take_sub4_att' std_list.id %}'">Take Attendance</button>
                <a href="{% url 'single_student' std_list.id %}">
                    <button type="button" class="btn btn-secondary rounded"><i class="fa fa-info-circle"> Details</i></button>
                </a></td>
        {% endif %}

    </tr>
    {% endfor %}
</table>
{% endif %}

{% if student_list_sub5 %}
<!-- for 5th subject-->
<table style="background-color: white;" class="table table-responsive-sm table-bordered table-striped table-sm table-hover ">
    <tr>
        <th>Name</th>
        <th>Admission ID</th>
        
        <th>Action</th>
    </tr>
    {% for std_list in student_list_sub5 %}
    <tr>
        <td class="cls_name">{{ std_list.name }}</td>
        <td class="cls_admission">{{ std_list.usn }}</td>
    
        {% if messages %}
        <td><button class="btn btn-success rounded" type="submit"
                onclick="location.href='{% url 'take_sub5_att' std_list.id %}'" disabled>Take Attendance</button>
                <a href="{% url 'extra_class_sub5' std_list.id %}">
                    <button class="btn btn-danger rounded">Extra Class</button>
                </a>
                <a href="{% url 'single_student' std_list.id %}">
                    <button type="button" class="btn btn-secondary rounded"><i class="fa fa-info-circle"> Details</i></button>
                </a>
            </td>
        {% else %}
        <td><button class="btn btn-success rounded" type="submit"
                onclick="location.href='{% url 'take_sub5_att' std_list.id %}'">Take Attendance</button>
                <a href="{% url 'single_student' std_list.id %}">
                    <button type="button" class="btn btn-secondary rounded"><i class="fa fa-info-circle"> Details</i></button>
                </a>
            </td>
        {% endif %}

    </tr>
    {% endfor %}
</table>
{% endif %}

{% if student_list_sub6 %}
<!-- for 6th subject-->
<table style="background-color: white;" class="table table-responsive-sm table-bordered table-striped table-sm table-hover ">
    <tr>
        <th>Name</th>
        <th>Admission ID</th>
        
        <th>Action</th>
    </tr>
    {% for std_list in student_list_sub6 %}
    <tr>
        <td class="cls_name">{{ std_list.name }}</td>
        <td class="cls_admission">{{ std_list.usn }}</td>
        
        {% if messages %}
        <td><button class="btn btn-success rounded" type="submit"
                onclick="location.href='{% url 'take_sub6_att' std_list.id %}'" disabled>Take Attendance</button>
                <a href="{% url 'extra_class_sub6' std_list.id %}">
                    <button class="btn btn-danger rounded">Extra Class</button>
                </a>
                <a href="{% url 'single_student' std_list.id %}">
                    <button type="button" class="btn btn-secondary rounded"><i class="fa fa-info-circle"> Details</i></button>
                </a>
            </td>
        {% else %}
        <td><button class="btn btn-success rounded" type="submit"
                onclick="location.href='{% url 'take_sub6_att' std_list.id %}'">Take Attendance</button>
                <a href="{% url 'single_student' std_list.id %}">
                    <button type="button" class="btn btn-secondary rounded"><i class="fa fa-info-circle"> Details</i></button>
                </a>
            </td>
        {% endif %}

    </tr>
    {% endfor %}
</table>
{% endif %}

{% if student_list_lab1 %}
<!-- for 1st lab-->
<table style="background-color: white;" class="table table-responsive-sm table-bordered table-striped table-sm table-hover ">
    <tr>
        <th>Name</th>
        <th>Admission ID</th>
        
        <th>Action</th>
    </tr>
    {% for std_list in student_list_lab1 %}
    <tr>
        <td class="cls_name">{{ std_list.name }}</td>
        <td class="cls_admission">{{ std_list.usn }}</td>
        
        {% if messages %}
        <td><button class="btn btn-success rounded" type="submit"
                onclick="location.href='{% url 'take_lab1_att' std_list.id %}'" disabled>Take Attendance</button>
                <a href="{% url 'extra_class_lab1' std_list.id %}">
                    <button class="btn btn-danger rounded">Extra Class</button>
                </a>
                <a href="{% url 'single_student' std_list.id %}">
                    <button type="button" class="btn btn-secondary rounded"><i class="fa fa-info-circle"> Details</i></button>
                </a>
            </td>
        {% else %}
        <td><button class="btn btn-success rounded" type="submit"
                onclick="location.href='{% url 'take_lab1_att' std_list.id %}'">Take Attendance</button>
                <a href="{% url 'single_student' std_list.id %}">
                    <button type="button" class="btn btn-secondary rounded"><i class="fa fa-info-circle"> Details</i></button>
                </a>
            </td>
        {% endif %}

    </tr>
    {% endfor %}
</table>
{% endif %}

{% if student_list_lab2 %}
<!-- for 2nd lab-->
<table  style="background-color: white;" class="table table-responsive-sm table-bordered table-striped table-sm table-hover">
    <tr>
        <th>Name</th>
        <th>Admission ID</th>
        
        <th>Action</th>
    </tr>
    {% for std_list in student_list_lab2 %}
    <tr>
        <td class="cls_name">{{ std_list.name }}</td>
        <td class="cls_admission">{{ std_list.usn }}</td>
        
        {% if messages %}
        <td><button class="btn btn-success rounded" type="submit"
                onclick="location.href='{% url 'take_lab2_att' std_list.id %}'" disabled>Take Attendance</button>
                <a href="{% url 'extra_class_lab2' std_list.id %}">
                    <button class="btn btn-danger rounded">Extra Class</button>
                </a>
                <a href="{% url 'single_student' std_list.id %}">
                    <button type="button" class="btn btn-secondary rounded"><i class="fa fa-info-circle"> Details</i></button>
                </a>
            </td>
        {% else %}
        <td><button class="btn btn-success rounded" type="submit"
                onclick="location.href='{% url 'take_lab2_att' std_list.id %}'">Take Attendance</button>
                <a href="{% url 'single_student' std_list.id %}">
                    <button type="button" class="btn btn-secondary rounded"><i class="fa fa-info-circle"> Details</i></button>
                </a>
            </td>
        {% endif %}

    </tr>
    {% endfor %}
</table>
{% endif %}


{% endblock %}