{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, non!</div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus assumenda hic voluptates delectus cum earum, adipisci accusamus mollitia molestiae sapiente beatae in praesentium odit ad vel. Alias, nobis, itaque iure incidunt corrupti quae aliquam rem veritatis commodi quisquam deserunt adipisci sunt totam doloremque officia illum. Quisquam adipisci non enim quam.
        </div>
    </div>
   
</div>
{% endblock %}
