{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        background-color: #008585;
    }

</style>
<div class="card rounded mt-2">
    <div class="card-header text-center" id="header1">
        <b>Attendance Management System</b>
    </div>
    <div class="card-body rounded">
        <div class="row">
            {% if user.is_authenticated%}
            <div class="card col-sm rounded">
                <div class="card-img-top mt-2"><img src="{% static 'images/attendant-list.png'%}"
                        class="img-fluid  mx-auto d-block" width="180px"></div>
                <div class="card-body rounded">
                    <h5 class="card-title">Attendace</h5>
                    <p class="card-text text-muted">Please enter the subject name in the next page to take attendance.</p>
                    <a href="{% url 'attendance_count' %}" class="btn btn-primary rounded"><b>Take Attendance</b></a>
                </div>
            </div>
            {% endif %}
            <div class="card col-sm rounded">
                <div class="card-image-top mt-2"><img src="{% static 'images/graduates.png'%}"
                        class="img-fluid rounded mx-auto d-block" width="180px"></div>
                <div class="card-body">
                    <h5 class="card-title">Students</h5>
                    <p class="card-text text-muted">Enter to view the list of students studying in AITM and their detais.</p>
                    <a href="{% url 'student_list' %}" class="btn btn-primary rounded"><b>View Students</b></a>
                </div>
            </div>
            <div class="card col-sm rounded">
                <div class="card-image-top mt-2"><img src="{% static 'images/presentation.png'%}"
                        class="img-fluid rounded mx-auto d-block" width="180px"></div>
                <div class="card-body">
                    <h5 class="card-title">Professors</h5>
                    <p class="card-text text-muted">Enter to view the list of Professors teaching in AITM and their details.</p>
                    <a href="{% url 'teacher_list' %}" class="btn btn-primary rounded"><b>View Professors</b></a>
                </div>
            </div>
            <div class="card col-sm rounded">
                <div class="card-image-top mt-2"><img src="{% static 'images/education.png'%}"
                        class="img-fluid rounded mx-auto d-block" width="180px"></div>
                <div class="card-body">
                    <h5 class="card-title">Subjects</h5>
                    <p class="card-text text-muted">Enter to view the list of Subjects taught in AITM and their details.</p>
                    <a href="{% url 'subject_list' %}" class="btn btn-primary rounded"><b>View Subjects</b></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}